<div id="modalRegMarcoListas" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit)="onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Marco de Lista
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Información</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdCondicionJuridica">Condición jurídica</label>
                        <select formControlName="IdCondicionJuridica" id="IdCondicionJuridica"
                            name="IdCondicionJuridica" class="form-select" (change)="selCondicionJuridica($event)">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListCondicionJuridica" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdCondicionJuridica.invalid && (IdCondicionJuridica.dirty || IdCondicionJuridica.touched)"
                            class="text-danger">
                            <div *ngIf="IdCondicionJuridica.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <!--Para Sociedad Anonima-->
                    <div *ngIf="perSA" class="form-group">
                        <label for="NumeroDocumentoSA">RUC</label>                        
                        <div class="input-group">
                            <input formControlName="NumeroDocumentoSA" type="text" maxlength="11" onkeypress="return '0123456789'.includes(event.key)" class="form-control"
                            (focusout)="onFocusOutEvent($event,'NumeroDocumentoSA')" required>
                            <button *ngIf="modalActivo" class="btn btn-primary" style="background-color: #008F49; border-color: #008F49;" (click)="getDatosSUNAT()" type="button"><i class="bi bi-search"></i></button>
                        </div> 
                        <div *ngIf="NumeroDocumentoSA.invalid && (NumeroDocumentoSA.dirty || NumeroDocumentoSA.touched)"
                            class="text-danger">
                            <div *ngIf="NumeroDocumentoSA.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                    <!--Para Sociedad Anonima-->
                    <!--Para Persona Natural-->
                    <div *ngIf="perPN" class="form-group">
                        <label for="IdTipoDocumento">Tipo de documento</label>
                        <select formControlName="IdTipoDocumento" id="IdTipoDocumento" name="IdTipoDocumento"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListTipoDocumento" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdTipoDocumento.invalid && (IdTipoDocumento.dirty || IdTipoDocumento.touched)"
                            class="text-danger">
                            <div *ngIf="IdTipoDocumento.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                    <!--Para Persona Natural-->

                </div>
            </div>
            <div *ngIf="perSAOtro" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdCondicionJuridicaOtros">Especifique Condición Jurídica</label>
                        <select formControlName="IdCondicionJuridicaOtros" id="IdCondicionJuridicaOtros"
                            name="IdCondicionJuridicaOtros" class="form-select" (change)="selCondicionJuridica($event)">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListCondicionJuridicaOtros" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdCondicionJuridicaOtros.invalid && (IdCondicionJuridicaOtros.dirty || IdCondicionJuridicaOtros.touched)"
                            class="text-danger">
                            <div *ngIf="IdCondicionJuridicaOtros.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <!--Para Sociedad Anonima-->
            <div *ngIf="perSA" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="RazonSocial">Razón social</label>
                        <input formControlName="RazonSocial" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'RazonSocial')" required>
                        <div *ngIf="RazonSocial.invalid && (RazonSocial.dirty || RazonSocial.touched)"
                            class="text-danger">
                            <div *ngIf="RazonSocial.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DireccionFiscalDomicilioSA">Dirección fiscal</label>
                        <input formControlName="DireccionFiscalDomicilioSA" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'DireccionFiscalDomicilioSA')" required>
                        <div *ngIf="DireccionFiscalDomicilioSA.invalid && (DireccionFiscalDomicilioSA.dirty || DireccionFiscalDomicilioSA.touched)"
                            class="text-danger">
                            <div *ngIf="DireccionFiscalDomicilioSA.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Para Sociedad Anonima-->
            <!--Para Persona Natural-->
            <div *ngIf="perPN" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="NumeroDocumentoPN">Número de documento</label>                        
                        <div class="input-group">
                            <input formControlName="NumeroDocumentoPN" maxlength="11" type="text" onkeypress="return '0123456789'.includes(event.key)" class="form-control"
                            (focusout)="onFocusOutEvent($event,'NumeroDocumentoPN')" required>
                            <button *ngIf="modalActivo" class="btn btn-primary" style="background-color: #008F49; border-color: #008F49;" (click)="getDatosRENIEC()" type="button"><i class="bi bi-search"></i></button>
                        </div> 
                        <div *ngIf="NumeroDocumentoPN.invalid && (NumeroDocumentoPN.dirty || NumeroDocumentoPN.touched)"
                            class="text-danger">
                            <div *ngIf="NumeroDocumentoPN.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Nombre">Nombres</label>
                        <input formControlName="Nombre" maxlength="25" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'Nombre')" required>
                        <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)" class="text-danger">
                            <div *ngIf="Nombre.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="perPN" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ApellidoPaterno">Apellido paterno</label>
                        <input formControlName="ApellidoPaterno" maxlength="25" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'ApellidoPaterno')" required>
                        <div *ngIf="ApellidoPaterno.invalid && (ApellidoPaterno.dirty || ApellidoPaterno.touched)"
                            class="text-danger">
                            <div *ngIf="ApellidoPaterno.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ApellidoMaterno">Apellido materno</label>
                        <input formControlName="ApellidoMaterno" maxlength="25" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'ApellidoMaterno')" required>
                        <div *ngIf="ApellidoMaterno.invalid && (ApellidoMaterno.dirty || ApellidoMaterno.touched)"
                            class="text-danger">
                            <div *ngIf="ApellidoMaterno.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="perPN" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="TieneRuc">¿Tiene RUC?</label>
                        <input formControlName="TieneRuc" maxlength="11" type="text"
                            onkeypress="return '0123456789'.includes(event.key)" class="form-control"
                            (focusout)="onFocusOutEvent($event,'TieneRuc')" required>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DireccionFiscalDomicilioPN">Domicilio</label>
                        <input formControlName="DireccionFiscalDomicilioPN" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'DireccionFiscalDomicilioPN')" required>
                        <div *ngIf="DireccionFiscalDomicilioPN.invalid && (DireccionFiscalDomicilioPN.dirty || DireccionFiscalDomicilioPN.touched)"
                            class="text-danger">
                            <div *ngIf="DireccionFiscalDomicilioPN.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Para Persona Natural-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdDepartamentoPer">Departamento</label>
                        <select formControlName="IdDepartamentoPer" id="IdDepartamentoPer" name="IdDepartamentoPer"
                            class="form-select" (change)="selDepartamento($event)">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListDepartamento" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdDepartamentoPer.invalid && (IdDepartamentoPer.dirty || IdDepartamentoPer.touched)"
                            class="text-danger">
                            <div *ngIf="IdDepartamentoPer.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdProvinciaPer">Provincia</label>
                        <select formControlName="IdProvinciaPer" id="IdProvinciaPer" name="IdProvinciaPer"
                            class="form-select" (change)="selProvincia($event)">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListProvincia" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdProvinciaPer.invalid && (IdProvinciaPer.dirty || IdProvinciaPer.touched)"
                            class="text-danger">
                            <div *ngIf="IdProvinciaPer.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdDistritoPer">Distrito</label>
                        <select formControlName="IdDistritoPer" id="IdDistritoPer" name="IdDistritoPer"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListDistrito" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdDistritoPer.invalid && (IdDistritoPer.dirty || IdDistritoPer.touched)"
                            class="text-danger">
                            <div *ngIf="IdDistritoPer.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdTipoExplotacion">Tipo de explotación</label>
                        <select formControlName="IdTipoExplotacion" id="IdTipoExplotacion" name="IdTipoExplotacion"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListTipoExplotacion" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdTipoExplotacion.invalid && (IdTipoExplotacion.dirty || IdTipoExplotacion.touched)"
                            class="text-danger">
                            <div *ngIf="IdTipoExplotacion.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Telefono">Teléfono fijo</label>
                        <input formControlName="Telefono" maxlength="9" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'Telefono')">                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Celular">Celular</label>
                        <input formControlName="Celular" maxlength="9" type="text"
                            onkeypress="return '0123456789'.includes(event.key)" class="form-control"
                            (focusout)="onFocusOutEvent($event,'Celular')" required>
                        <div *ngIf="Celular.invalid && (Celular.dirty || Celular.touched)" class="text-danger">
                            <div *ngIf="Celular.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label *ngIf="perPN || !perSA" for="CorreoElectronico">Correo electrónico</label>
                        <label *ngIf="perSA" for="CorreoElectronico">Correo electrónico institucional</label>
                        <input formControlName="CorreoElectronico" maxlength="50" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'CorreoElectronico')" required>
                        <div *ngIf="CorreoElectronico.invalid && (CorreoElectronico.dirty || CorreoElectronico.touched)"
                            class="text-danger">
                            <div *ngIf="CorreoElectronico.errors?.['required']">El campo es requerido.</div>                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="PaginaWeb">Página web</label>
                        <input formControlName="PaginaWeb" maxlength="100" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'PaginaWeb')">                       
                    </div>
                </div>
            </div>
            <div *ngIf="perSA" class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Representante legal</h3>
                </div>
            </div>
            <div *ngIf="perSA" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="NombreRepLegal">Nombre del representante legal</label>
                        <input formControlName="NombreRepLegal" maxlength="200" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'NombreRepLegal')" required>
                        <div *ngIf="NombreRepLegal.invalid && (NombreRepLegal.dirty || NombreRepLegal.touched)"
                            class="text-danger">
                            <div *ngIf="NombreRepLegal.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CelularRepLegal">Celular</label>
                        <input formControlName="CelularRepLegal" maxlength="9" type="text"
                            onkeypress="return '0123456789'.includes(event.key)" class="form-control"
                            (focusout)="onFocusOutEvent($event,'CelularRepLegal')" required>
                        <div *ngIf="CelularRepLegal.invalid && (CelularRepLegal.dirty || CelularRepLegal.touched)"
                            class="text-danger">
                            <div *ngIf="CelularRepLegal.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="perSA" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CorreoRepLegal">Correo electrónico</label>
                        <input formControlName="CorreoRepLegal" maxlength="50" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'CorreoRepLegal')" required>
                        <div *ngIf="CorreoRepLegal.invalid && (CorreoRepLegal.dirty || CorreoRepLegal.touched)"
                            class="text-danger">
                            <div *ngIf="CorreoRepLegal.errors?.['required']"> El campo es requerido.</div>                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Ubicación de Entrevista</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Direccion">Dirección</label>
                        <input formControlName="Direccion" maxlength="100" type="text" class="form-control"
                            (focusout)="onFocusOutEvent($event,'Direccion')" required>
                        <div *ngIf="Direccion.invalid && (Direccion.dirty || Direccion.touched)" class="text-danger">
                            <div *ngIf="Direccion.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdDepartamento">Departamento</label>
                        <select formControlName="IdDepartamento" id="IdDepartamento" name="IdDepartamento"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListDepartamento" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdDepartamento.invalid && (IdDepartamento.dirty || IdDepartamento.touched)"
                            class="text-danger">
                            <div *ngIf="IdDepartamento.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdAnio">Periodo</label>
                        <select formControlName="IdAnio" id="IdAnio" name="IdAnio"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListPeriodos" [value]="item.value">
                                {{ item.label }}
                            </option>
                        </select>
                        <div *ngIf="IdAnio.invalid && (IdAnio.dirty || IdAnio.touched)"
                            class="text-danger">
                            <div *ngIf="IdAnio.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <p-confirmDialog></p-confirmDialog>
            <button *ngIf="modalActivo" type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: #008F49; border-color: #008F49;">Registrar</button>
        </div>
    </form>
</div>