<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Programación de registro
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Datos de Registro</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ProgramacionRegistro">Denominación</label>
                        <input formControlName="ProgramacionRegistro" type="text" maxlength="100" class="form-control" (focusout)="onFocusOutEvent($event,'ProgramacionRegistro')" required>
                        <div *ngIf="ProgramacionRegistro.invalid && (ProgramacionRegistro.dirty || ProgramacionRegistro.touched)" class="text-danger">
                            <div *ngIf="ProgramacionRegistro.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdAnio">Periodo</label>
                        <select formControlName="IdAnio" id="IdAnio" name="IdAnio"
                            class="form-select">   
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListPeriodos"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                        
                        </select>
                        <div *ngIf="IdAnio.invalid && (IdAnio.dirty || IdAnio.touched)" class="text-danger">
                            <div *ngIf="IdAnio.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="FechaInicio">Fecha de inicio</label>
                        <input formControlName="FechaInicio" type="date" class="form-control" (focusout)="onFocusOutEvent($event,'FechaInicio')" required>
                        <div *ngIf="FechaInicio.invalid && (FechaInicio.dirty || FechaInicio.touched)" class="text-danger">
                            <div *ngIf="FechaInicio.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="FechaFin">Fecha de cierre</label>
                        <input formControlName="FechaFin" type="date" class="form-control" (focusout)="onFocusOutEvent($event,'FechaFin')" required>
                        <div *ngIf="FechaFin.invalid && (FechaFin.dirty || FechaFin.touched)" class="text-danger">
                            <div *ngIf="FechaFin.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DecretoNorma">Documento normativo</label>
                        <input formControlName="DecretoNorma" type="text" maxlength="100" class="form-control" (focusout)="onFocusOutEvent($event,'DecretoNorma')" required>
                        <div *ngIf="DecretoNorma.invalid && (DecretoNorma.dirty || DecretoNorma.touched)" class="text-danger">
                            <div *ngIf="DecretoNorma.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Objetivo">Objetivo</label>
                        <input formControlName="Objetivo" type="text" maxlength="200" class="form-control" (focusout)="onFocusOutEvent($event,'Objetivo')" required>
                        <div *ngIf="Objetivo.invalid && (Objetivo.dirty || Objetivo.touched)" class="text-danger">
                            <div *ngIf="Objetivo.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="EnteRector">Ente rector</label>
                        <input formControlName="EnteRector" type="text" maxlength="100" class="form-control" (focusout)="onFocusOutEvent($event,'EnteRector')" required>
                        <div *ngIf="EnteRector.invalid && (EnteRector.dirty || EnteRector.touched)" class="text-danger">
                            <div *ngIf="EnteRector.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">                     
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Datos de Cuestionario</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdPlantilla">Plantilla</label>
                        <select formControlName="IdPlantilla" id="IdPlantilla" name="IdPlantilla"
                            class="form-select">    
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListPlantillasActivas"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                       
                        </select>
                        <div *ngIf="IdPlantilla.invalid && (IdPlantilla.dirty || IdPlantilla.touched)" class="text-danger">
                            <div *ngIf="IdPlantilla.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <button *ngIf="modalActivo" type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: green; border-color: green;">Registrar</button>
        </div>
    </form>
</div>