<form [formGroup]="fundoForm">

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" [id]=idNombre>
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#'+idNombre" aria-expanded="true" [attr.aria-controls]="idNombre">
                <span style="font-weight: bold;">17.{{fundo.Orden}}. Nombre del fundo: "{{fundo.Fundo}}"</span>
            </button>
          </h2>
          <div [id]=idNombre class="accordion-collapse collapse show" [attr.aria-labelledby]="idNombre">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SuperficieTotalCalc">Superficie total calculada(ha)</label>
                            <input readonly formControlName="SuperficieTotalCalc" maxlength="10" step ="0.01" type="number" class="form-control" required>        
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="SuperficieTotal">Superficie total reportada(ha)</label>
                            <input readonly formControlName="SuperficieTotal" maxlength="9" type="text" class="form-control" required>        
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="SuperficieAgricola">Superficie agrícola (ha)</label>
                            <input readonly formControlName="SuperficieAgricola" maxlength="9" type="text" onkeypress="return '0123456789.'.includes(event.key)" (change)="setTwoNumberDecimal('SuperficieAgricola')" class="form-control" required>        
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="Observacion">Observaciones</label>
                            <input formControlName="Observacion" type="text" class="form-control" required>  
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="IdDepartamento">Departamento</label>
                            <select formControlName="IdDepartamento" id="IdDepartamento" name="IdDepartamento"
                                class="form-select" (change)="selDepartamento($event)">
                                <option value="" disabled selected>-- Seleccionar --</option>
                                <option *ngFor="let item of fundo.ListDepartamento" [value]="item.value">
                                    {{ item.label }}
                                </option>
                            </select>               
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="IdProvincia">Provincia</label>
                            <select formControlName="IdProvincia" id="IdProvincia" name="IdProvincia"
                                class="form-select" (change)="selProvincia($event)">
                                <option value="" disabled selected>-- Seleccionar --</option>
                                <option *ngFor="let item of fundo.ListProvincia" [value]="item.value">
                                    {{ item.label }}
                                </option>
                            </select>              
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="IdDistrito">Distrito</label>
                            <select formControlName="IdDistrito" id="IdDistrito" name="IdDistrito"
                                class="form-select" (change)="selDistrito($event)">
                                <option value="" disabled selected>-- Seleccionar --</option>
                                <option *ngFor="let item of fundo.ListDistrito" [value]="item.value">
                                    {{ item.label }}
                                </option>
                            </select>              
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <lista-campos-plantilla [listaCampos]="fundo.ListCampos"
                    [listTenencia]="listTenencia"
                    [listUsoTierra]="listUsoTierra"
                    [listCultivo]="listCultivo"
                    [listUsoNoAgricola]="listUsoNoAgricola"
                    [modalActivo]="modalActivo"
                    (enviarSumas)="actualizarSumas($event)"></lista-campos-plantilla>
                </div>
            </div>
          </div>
        </div>
      </div>

    
</form>