<div class="d-flex flex-column w-100 h-100 m-0 p-0">
    <div [ngClass]="'w-100 m-0 p-0 ' + (activeStreet ? 'h-60' : 'h-100')">
        <div class="container-map">            
            <div id="divMapView" class="map" [class]="mapActive===2 ? 'visible' : 'invisible'"></div>
            <div id="divSceneView" class="map" [class]="mapActive===3 ? 'visible' : 'invisible'"></div>
            <div class="btn-group btn-group-unselectable type-map" ngbRadioGroup [(ngModel)]="mapActive" (change)="changeSelectMap()">
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" [value]="2"> Mapa 2D
                </label>
                <label ngbButtonLabel class="btn-outline-primary btn-sm">
                    <input ngbButton type="radio" [value]="3"> Mapa 3D
                </label>
            </div>
            <!--
            <button type="button" class="btn btn-primary button-curtain" (click)="onChangeView()">
                <span [ngClass]="isFullView ? 'fa fa-arrow-left': 'fa fa-arrow-right'"></span>
            </button>
            -->
            <div class="status-map d-flex flex-column m-0 p-0">
                <div class="d-flex justify-content-center m-0 p-0">
                    <label class="m-0 p-0">Longitud:</label><label class="m-0 p-0 ml-1">{{mapService.coordStatusMap.longitude}} </label>
                    <label class="m-0 p-0 ml-3">Latitud:</label><label class="m-0 p-0 ml-1">{{mapService.coordStatusMap.latitude}} </label>
                    <label class="m-0 p-0 ml-3" *ngIf="mapActive==3">Altura:</label><label class="m-0 p-0 ml-1" *ngIf="mapActive==3">{{mapService.coordStatusMap.height}}</label>
                </div>
                <div class="d-flex justify-content-center m-0 p-0">
                    <label class="m-0 p-0">Zona:</label><label class="m-0 p-0 ml-1">{{mapService.coordStatusMap.zoneUTM}}S </label>
                    <label class="m-0 p-0 ml-3">Este:</label><label class="m-0 p-0 ml-1">{{mapService.coordStatusMap.xUTM}} </label>
                    <label class="m-0 p-0 ml-3">Norte:</label><label class="m-0 p-0 ml-1">{{mapService.coordStatusMap.yUTM}} </label>
                </div>
            </div>
            <div id="div-coord-conver-2D" class="coord-conver-map m-0 p-0" [class]="mapActive==2?'d-block':'d-none'"></div>
            <div id="div-coord-conver-3D" class="coord-conver-map m-0 p-0" [class]="mapActive==3?'d-block':'d-none'"></div>
            <div id="div-scale-bar" class="scalebar-map" [class]="mapActive==2?'d-block':'d-none'"></div>
            <div class="toolbar-map esri-component esri-widget toolbar-widget-map">
                <button id="popup_view"
                      class="esri-widget--button esri-interactive button-esri-modify esri-custom-icon-popup-view"
                      title="Identificar" (click)="onClickPopupView()"
                 ></button>
                <div class="separator-button"></div>
                <button id="measurement_distance_2D"
                      class="esri-widget--button esri-interactive esri-custom-icon-measure-line button-esri-modify"
                      title="Medir distancia" (click)="onClickMeasurementDistance()"
                      style="display: block;">
                </button>
                <button id="measurement_distance_3D"
                      class="esri-widget--button esri-interactive esri-custom-icon-measure-line button-esri-modify"
                      title="Medir distancia" (click)="onClickMeasurementDistance()"
                      style="display: none;">
                </button>
                <div class="separator-button"></div>
                <button id="measurement_area_2D"
                      class="esri-widget--button esri-interactive esri-custom-icon-measure-area button-esri-modify"
                      title="Medir Polígono" (click)="onClickMeasurementArea()" style="display: block;"></button>
                <button id="measurement_area_3D"
                      class="esri-widget--button esri-interactive esri-custom-icon-measure-area button-esri-modify"
                      title="Medir Polígono" (click)="onClickMeasurementArea()" style="display: none;"></button>
                <div class="separator-button"></div>
                <button id="street_view"
                      class="button-esri-modify esri-widget--button esri-interactive esri-custom-icon-street-view"
                      title="Google StreetView" (click)="onClickStreetView()"></button>
                <div class="separator-button"></div>
                <button id="print_2D"
                      class="esri-widget--button esri-interactive esri-custom-icon-printer button-esri-modify"
                      title="Imprimir" (click)="onClickPrint()" style="display: block;"></button>
                <div id="print_separator_2D" class="separator-button"></div>
                <button id="download_view"
                      class="button-esri-modify esri-widget--button esri-interactive esri-custom-icon-download"
                      title="Descargar Capas" (click)="openWindow('download')"></button>
                <div class="separator-button"></div>
                <button id="add_wms_view"
                      class="button-esri-modify esri-widget--button esri-interactive esri-custom-icon-wms"
                      title="Agregar WMS" (click)="openWindow('addWMS')"></button>
                <div class="separator-button"></div>
                <button id="tools_clear"
                      class="button-esri-modify esri-widget--button esri-interactive esri-custom-icon-trash"
                      title="Limpiar Herramientas" (click)="onClickClear()"></button>
            </div>
            <!--ToolBar Personalizado de Edición-->
            <div id="editToolbar" class="toolbar-edit esri-component esri-widget toolbar-widget-map">
                <button id="toolbar-edit-selection"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-cursor"
                title="Seleccionar Polígono" (click)="onSelectGraphic()"></button>
                <div class="separator-button"></div>
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-cursor-marquee"
                title="Seleccionar Polígono por rectangulo" (click)="onCreateLineGraphic('rectangle')"></button>                
                <div class="separator-button"></div>
                <div class="separator-button"></div>
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-erase"
                title="Limpiar Selección" (click)="onClearSelectGraphic()"></button>                
                <div class="separator-button"></div>                
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-polyline"
                title="Crear Línea" (click)="onCreateLineGraphic('polyline')"></button>
                <div class="separator-button"></div>
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-polygon"
                title="Crear Polígono" (click)="onCreateLineGraphic('polygon')"></button>
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-trash"
                title="Eliminar Polígono" (click)="onDeleteGraphic()"></button>                
                <div class="separator-button"></div>
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify fa fa-file-archive-o"
                title="Cargar ShapeFile(zip)" (click)="onshowLoadZipFile()"></button>               
                <div class="separator-button"></div>                
                <button id="toolbar-edit-line"
                class="esri-widget--button esri-interactive button-esri-modify esri-icon-save"
                title="Grabar cambios" (click)="onSaveChanges()"></button>                           
            </div>
            <!--Menu contextual-->
            <div id="contextMenu">
                <div id="contextMenuEdit">
                    <ul>
                        <li><a (click)="onEditGraphic()"><i class="fa fa-object-group"></i> Modificar geometría</a></li>
                        <li><a (click)="onEditAttribute()"><i class="fa fa-id-card-o"></i> Modificar atributos</a></li>                        
                    </ul>
                </div>
                <div id="contextMenuMerge">
                    <ul>
                        <li><a (click)="onMergeGraphic()"><i class="fa fa-object-ungroup"></i> unir geometrías</a></li>
                    </ul>                    
                </div>
            </div>
            <!--Formulario de carga del ZipFile-->
            <div id="ZipFileForm" class="card">
                <div class="card-header" v-if="cardHeaderTitle">
                    <i class="fa fa-file-archive-o"></i>
                    <span>  Cargar ShapeFile</span>
                </div>
                <div class="card-body">
                    <div>
                        <div style='padding-left:4px;'>
                            <p><b>Agregar ShapeFile comprimido al mapa</b></p>
                            <p>Descargar el modelo de ShapeFile desde <a href='https://bsvensson.github.io/various-tests/shp/drp_county_boundary.zip'>aquí.</a></p>                          
                          <p>Visite la ayuda acerca de  
                            <a target='_blank' href="https://doc.arcgis.com/es/arcgis-online/reference/shapefiles.htm">Shapefiles</a> 
                            para tener información acerca de las limitaciones.</p>
                            <div #customButtonContainer
                            class="mb-3 custom-button-container"
                            (dragover)="onDragOver($event)"
                            (drop)="onDrop($event)"
                            (dragleave)="onDragLeave($event)">
                                <button mat-icon-button (click)="inFile.click()" class="custom-button" title="Cargar o arrastrar y soltar un archivo ShapeFile(.zip)">   
                                    <i class="custom-icon fa fa-paperclip"></i>                                    
                                    <input class="form-control form-control-sm" #inFile id="inFile" type="file" style="display: none;" (change)="onLoadZipFile($event)" accept=".zip">
                                </button>                                
                            </div>
                          <span class="file-upload-status" style="opacity:1;" id="upload-status"></span>
                          <div id="fileInfo"> </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div [ngClass]="'w-100 m-0 p-0 ' + (activeStreet ? 'h-40' : 'h-0')">
        <ng-template [ngIf]="activeStreet">        
        </ng-template>
    </div>
</div>
<link rel="stylesheet" href="https://js.arcgis.com/4.30/esri/themes/light/main.css">
<link rel="stylesheet" href="/assets/scss/font-awesome.min.css">