<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="plantillaForm">        
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Capítulo I. Características de la Empresa</h3>
                </div>
            </div>       
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">1. Condición jurídica</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">2. Tipo de documento</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">3. Número de documento</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">4. Nombres</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">5. Apellido paterno</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">6. Apellido materno</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">¿Tiene RUC?</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">7. Domicilio</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">8. Departamento</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">9. Provincia</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">10. Distrito</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">11. Tipo de Explotación</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">12. Telefono fijo</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">13. Celular</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">14. Correo electrónico</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">15. Página web</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">                    
                </div>
                <div class="col-sm-4">                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Capítulo II. Características del Fundo</h3>
                </div>
            </div>      
            <div class="row">
                <div class="col-sm-4">                    
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">16. ¿Cuántos fundos tiene la empresa?</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-primary">Insertar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:darkgray">
                    <h3>17. Caracteristicas de fundos y uso de la tierra por campo</h3>
                </div>
            </div>  
            <div class="row">                
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="campo">17.1 Nombre del fundo:</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Superficie total (ha)</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Superficie agrícola (ha)</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Observaciones</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Departamento</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Provincia</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="campo">Distrito</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <lista-campos-plantilla></lista-campos-plantilla>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Capítulo III. Existencia de aves, ganado, búfalo y camélidos sudamericanos</h3>
                </div>
            </div>
            <div class="row">                
                <div class="col-sm-12" style="color:darkgray">
                    <h3>18. ¿Cuantos animales tiene?</h3>
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">18.1. Línea de producción</div>
                        <div class="col-sm-6">Número</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">18.2. Especie</div>
                        <div class="col-sm-6">Número</div>
                    </div>
                </div>                
            </div>  
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Capítulo IV. Datos de la entrevista</h3>
                </div>
            </div>
            <div class="row">
                <lista-informantes></lista-informantes>
            </div>
            <div class="row">                
                <div class="col-sm-12" style="color:darkgray">
                    <h3>ARCHIVOS PARA GABINETE</h3>
                </div>
            </div> 
            <div class="row">                
                <div class="col-sm-4" style="color:darkgray">
                    <h3>Temporizador: </h3>
                </div>
                <div class="col-sm-4" style="color:darkgray">
                    <h3>Hora: </h3>
                </div>
                <div class="col-sm-4" style="color:darkgray">
                    <h3>Fecha: </h3>
                </div>
            </div> 
        </div>
        <div class="modal-footer text-end" style="display: block;">
           
        </div>
    </form>
</div>