<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Detalles</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Asunto">Asunto</label>
                        <input formControlName="Asunto" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'Asunto')" required>
                        <div *ngIf="Asunto.invalid && (Asunto.dirty || Asunto.touched)" class="text-danger">
                            <div *ngIf="Asunto.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdFrecuencia">Frecuencia</label>
                        <select formControlName="IdFrecuencia" id="IdFrecuencia" name="IdFrecuencia"
                            class="form-select">   
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListFrecuencias"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                          
                        </select>
                        <div *ngIf="IdFrecuencia.invalid && (IdFrecuencia.dirty || IdFrecuencia.touched)" class="text-danger">
                            <div *ngIf="IdFrecuencia.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdProgramacionRegistro">Seleccione registro</label>
                        <select formControlName="IdProgramacionRegistro" id="IdProgramacionRegistro" name="IdProgramacionRegistro"
                            class="form-select"> 
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListProgramacionesVigentes"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                            
                        </select>
                        <div *ngIf="IdProgramacionRegistro.invalid && (IdProgramacionRegistro.dirty || IdProgramacionRegistro.touched)" class="text-danger">
                            <div *ngIf="IdProgramacionRegistro.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdEtapa">Etapa</label>
                        <select formControlName="IdEtapa" id="IdEtapa" name="IdEtapa"
                            class="form-select">  
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListProgramacionesVigentes"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                           
                        </select>
                        <div *ngIf="IdEtapa.invalid && (IdEtapa.dirty || IdEtapa.touched)" class="text-danger">
                            <div *ngIf="IdEtapa.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="Descripcion">Descripción</label>
                        <input formControlName="Descripcion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'Descripcion')" required>
                        <div *ngIf="Descripcion.invalid && (Descripcion.dirty || Descripcion.touched)" class="text-danger">
                            <div *ngIf="Descripcion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>           
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Usuarios notificados</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdPerfil">Seleccione perfil</label>
                        <select formControlName="IdPerfil" id="IdPerfil" name="IdPerfil"
                            class="form-select">  
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListPerfiles"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                           
                        </select>
                        <div *ngIf="IdPerfil.invalid && (IdPerfil.dirty || IdPerfil.touched)" class="text-danger">
                            <div *ngIf="IdPerfil.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: green; border-color: green;">Registrar</button>
        </div>
    </form>
</div>