<div class="row">
    <p-table [value]="listaInformantes">
        <ng-template pTemplate="header">
            <tr style="font-size:small;">           
                <th style="width: 14%; flex: none; padding: 5px;" pResizableColumn>Nombres y apellidos</th>
                <th style="width: 12%; flex: none; padding: 5px;" pResizableColumn>Cargo</th>
                <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>Correo</th>
                <th style="width: 12%; flex: none; padding: 5px;" pResizableColumn>Celular</th>
                <th style="width: 12%; flex: none; padding: 5px;" pResizableColumn>Telefono fijo</th>
                <th style="width: 12%; flex: none; padding: 5px;" pResizableColumn>Estado</th>
                <th style="width: 13%; flex: none; padding: 5px;" pResizableColumn>Observaciones</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr> 
                <td style="width: 14%; flex: none; padding: 5px;">{{ item.NombreCompleto }}</td>
                <td style="width: 12%; flex: none; padding: 5px;">{{ item.Cargo }}</td>
                <td style="width: 10%; flex: none; padding: 5px;">{{ item.Correo }}</td>
                <td style="width: 10%; flex: none; padding: 5px;">{{ item.Celular }}</td>
                <td style="width: 10%; flex: none; padding: 5px;">{{ item.Telefono }}</td>
                <td style="width: 11%; flex: none; padding: 5px;">{{ item.EstadoEntrevista }}</td>
                <td style="width: 13%; flex: none; padding: 5px;">{{ item.Observacion }}</td>    
                <td style="width: 5%; flex: none; padding: 5px;">
                    <button class="btn btn-primary" style="background-color: #008F49; border-color: #008F49; margin-left: 10px;" 
                    *ngIf="modalActivo" type="button" (click)="eliminarInformante(item)"><i class="bi bi-trash3"></i></button>
                </td>            
            </tr>
            <tr>
                <td colspan="3" style="flex: none; padding: 5px;">
                    <div class="row" style="font-weight: bold; color: darkgrey; margin-top: 5px;"><span>Dirección</span></div>
                    <div class="row" style="text-align: center; border-bottom: lightgray 1px solid; padding-bottom: 3px;"><span>{{item.Direccion}}</span></div>
                </td>
                <td colspan="2" style="flex: none; padding: 5px;">
                    <div class="row" style="font-weight: bold; color: darkgrey; margin-top: 5px;"><span>Coordenadas</span></div>
                    <div class="row" style="text-align: center; border-bottom: lightgray 1px solid; padding-bottom: 3px;"><span>UTM WGS84</span></div>
                </td>
                <td style="flex: none; padding: 5px;">
                    <div class="row" style="font-weight: bold; color: darkgrey; margin-top: 5px;"><span>ESTE</span></div>
                    <div class="row" style="text-align: center; border-bottom: lightgray 1px solid; padding-bottom: 3px;"><span>{{item.CoordenadaEste}}</span></div>
                </td>
                <td style="flex: none; padding: 5px;">
                    <div class="row" style="font-weight: bold; color: darkgrey; margin-top: 5px;"><span>NORTE</span></div>
                    <div class="row" style="text-align: center; border-bottom: lightgray 1px solid; padding-bottom: 3px;"><span>{{item.CoordenadaNorte}}</span></div>
                </td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-confirmDialog></p-confirmDialog>