<div style="width: 100%;">
    <div class="row">
        <div class="col-sm-12 mb-4" style="font-weight: bold; text-align:left; margin-top: 4px; font-size: large;">
            <span>Reporte de Estados de Registro</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <lista-reporte-usuarios></lista-reporte-usuarios>
                </div>
            </div>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>