<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CodigoLineaProduccion">Código</label>
                        <input formControlName="CodigoLineaProduccion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'CodigoLineaProduccion')" required>
                        <div *ngIf="CodigoLineaProduccion.invalid && (CodigoLineaProduccion.dirty || CodigoLineaProduccion.touched)" class="text-danger">
                            <div *ngIf="CodigoLineaProduccion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="LineaProduccion">Nombre</label>
                        <input formControlName="LineaProduccion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'LineaProduccion')" required>
                        <div *ngIf="LineaProduccion.invalid && (LineaProduccion.dirty || LineaProduccion.touched)" class="text-danger">
                            <div *ngIf="LineaProduccion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DescripcionLineaProduccion">Descripción</label>
                        <input formControlName="DescripcionLineaProduccion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'DescripcionLineaProduccion')" required>
                        <div *ngIf="DescripcionLineaProduccion.invalid && (DescripcionLineaProduccion.dirty || DescripcionLineaProduccion.touched)" class="text-danger">
                            <div *ngIf="DescripcionLineaProduccion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <p-confirmDialog></p-confirmDialog>
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: #008F49; border-color: #008F49;">Registrar</button>
        </div>
    </form>
</div>