<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CodigoEspecie">Código</label>
                        <input formControlName="CodigoEspecie" type="text" class="form-control" required>
                        <div *ngIf="CodigoEspecie.invalid && (CodigoEspecie.dirty || CodigoEspecie.touched)" class="text-danger">
                            <div *ngIf="CodigoEspecie.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Especie">Especie</label>
                        <input formControlName="Especie" type="text" class="form-control" required>
                        <div *ngIf="Especie.invalid && (Especie.dirty || Especie.touched)" class="text-danger">
                            <div *ngIf="Especie.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DescripcionEspecie">Descripción</label>
                        <input formControlName="DescripcionEspecie" type="text" class="form-control" required>
                        <div *ngIf="DescripcionEspecie.invalid && (DescripcionEspecie.dirty || DescripcionEspecie.touched)" class="text-danger">
                            <div *ngIf="DescripcionEspecie.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: green; border-color: green;">Registrar</button>
        </div>
    </form>
</div>