<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CodigoCondicionJuridica">Código</label>
                        <input formControlName="CodigoCondicionJuridica" maxlength="10" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'CodigoCondicionJuridica')" required>
                        <div *ngIf="CodigoCondicionJuridica.invalid && (CodigoCondicionJuridica.dirty || CodigoCondicionJuridica.touched)" class="text-danger">
                            <div *ngIf="CodigoCondicionJuridica.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CondicionJuridica">Nombre</label>
                        <input formControlName="CondicionJuridica" maxlength="100" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'CondicionJuridica')" required>
                        <div *ngIf="CondicionJuridica.invalid && (CondicionJuridica.dirty || CondicionJuridica.touched)" class="text-danger">
                            <div *ngIf="CondicionJuridica.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DescripcionCondicionJuridica">Descripción</label>
                        <input formControlName="DescripcionCondicionJuridica" maxlength="255" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'DescripcionCondicionJuridica')" required>
                        <div *ngIf="DescripcionCondicionJuridica.invalid && (DescripcionCondicionJuridica.dirty || DescripcionCondicionJuridica.touched)" class="text-danger">
                            <div *ngIf="DescripcionCondicionJuridica.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <p-confirmDialog></p-confirmDialog>
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: #008F49; border-color: #008F49;">Registrar</button>
        </div>
    </form>
</div>