<div class="container" style="padding-bottom: 5rem;">
    <div class="row">
        <div class="col-sm-12 mb-4" style="font-weight: bold; text-align:left; margin-top: 4px; font-size: large;">
            <span>Panel de Registros</span>
        </div>
    </div>
    <div class="row mb-3">        
        <div class="col-sm-12">
            <div class="input-group">            
                <input class="form-control m-input" maxlength="50" type="text" [(ngModel)]="txt_busqueda" [ngModelOptions]="{standalone: true}"/>
                <button class="btn btn-primary" type="button" (click)="getData()"><i class="bi bi-search"></i></button>                                            
            </div>
        </div>  
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <button class="btn btn-primary" style="min-width: 100px;" type="button" (click)="agregarRegistro(viewUserTemplate)">Nuevo</button>
            <button class="btn btn-primary" style="min-width: 100px;" type="button">Exportar</button>
        </div>        
        <div class="col-sm-2 text-end">
            Filtro
        </div>
    </div>
    <div class="row mb-3" >    
        <!--<p-confirmDialog></p-confirmDialog>-->
        <p-table [value]="lista_resultados" [paginator]="true" [rows]="8">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>ID recurso</th>
                    <th style="width: 30%; flex: none; padding: 5px;" pResizableColumn>Descripción recurso</th>
                    <th style="width: 30%; flex: none; padding: 5px;" pResizableColumn>Enlace recurso</th>  
                    <th style="width: 15%; flex: none; padding: 5px;" pResizableColumn>Tipo recurso</th> 
                    <th style="width: 5%; flex: none; padding: 5px;" pResizableColumn>Publicar</th>          
                    <th style="width: 5%; flex: none; padding: 5px;" pResizableColumn>Editar</th>
                    <th style="width: 5%; flex: none; padding: 5px;" pResizableColumn>Eliminar</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td style="width: 10%; flex: none; padding: 5px;">{{ item.idrecursoapoyo }}</td>
                    <td style="width: 30%; flex: none; padding: 5px;">{{ item.titulorecursoapoyo }}</td>
                    <td style="width: 30%; flex: none; padding: 5px;">{{ item.enlacerecursoapoyo }}</td> 
                    <td style="width: 15%; flex: none; padding: 5px;">{{ item.nombretiporecursoapoyo }}</td> 
                    <td style="width: 5%; flex: none; padding: 5px;">{{ item.publicar=='1'?'Si':'No' }}</td> 
                    <td style="width: 5%; flex: none; padding: 5px;"><button class="btn btn-primary" type="button"><i class="bi bi-pencil-square"></i></button></td>
                    <td style="width: 5%; flex: none; padding: 5px;"><button class="btn btn-primary" type="button"><i class="bi bi-trash3"></i></button></td>
                </tr>
            </ng-template>
        </p-table> 
    </div>
    <ng-template #viewUserTemplate >
        <modal-programacion-registro [exitModal]="exitModal"></modal-programacion-registro> 
    </ng-template>
</div>