<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: #008F49; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:#008F49">
                    <h3>Información</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdTipoOrganizacion">Tipo de organización</label>
                        <select formControlName="IdTipoOrganizacion" id="IdTipoOrganizacion" name="IdTipoOrganizacion"
                            class="form-select">      
                            <option value="" disabled selected>-- Seleccionar --</option>
                            <option *ngFor="let item of objRegistro.ListTipoOrganizacion"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                    
                        </select>
                        <div *ngIf="IdTipoOrganizacion.invalid && (IdTipoOrganizacion.dirty || IdTipoOrganizacion.touched)" class="text-danger">
                            <div *ngIf="IdTipoOrganizacion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="NumeroDocumento">RUC</label>
                        <div class="input-group">
                            <input formControlName="NumeroDocumento" onkeypress="return '0123456789'.includes(event.key)" maxlength="11" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'NumeroDocumento')" required>
                            <button *ngIf="modalActivo" class="btn btn-primary" style="background-color: #008F49; border-color: #008F49;" type="button" (click)="getDatosSUNAT()"><i class="bi bi-search"></i></button>
                        </div>                        
                        <div *ngIf="NumeroDocumento.invalid && (NumeroDocumento.dirty || NumeroDocumento.touched)" class="text-danger">
                            <div *ngIf="NumeroDocumento.errors?.['required']">El campo es obligatorio</div>
                            <div *ngIf="NumeroDocumento.errors?.['minLenght']">el campo debe tener 11 dígitos</div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Organizacion">Nombre</label>
                        <input formControlName="Organizacion" type="text" maxlength="200" class="form-control" (focusout)="onFocusOutEvent($event,'Organizacion')" required>
                        <div *ngIf="Organizacion.invalid && (Organizacion.dirty || Organizacion.touched)" class="text-danger">
                            <div *ngIf="Organizacion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DireccionFiscal">Dirección fiscal</label>
                        <input formControlName="DireccionFiscal" maxlength="100" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'DireccionFiscal')" required>
                        <div *ngIf="DireccionFiscal.invalid && (DireccionFiscal.dirty || DireccionFiscal.touched)" class="text-danger">
                            <div *ngIf="DireccionFiscal.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div> 
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdDepartamento">Departamento</label>
                        <select formControlName="IdDepartamento" id="IdDepartamento" name="IdDepartamento"
                            class="form-select">     
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListDepartamento"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                       
                        </select>                        
                    </div> 
                </div>
                <div class="col-sm-6">

                </div>
            </div> 
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Contacto</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Telefono">Telefono</label>
                        <input formControlName="Telefono" type="text" maxlength="9" class="form-control" (focusout)="onFocusOutEvent($event,'Telefono')" >                        
                    </div> 
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="PaginaWeb">Página web</label>
                        <input formControlName="PaginaWeb" type="text" maxlength="100" class="form-control" (focusout)="onFocusOutEvent($event,'PaginaWeb')" >                      
                    </div> 
                </div>
            </div> 
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CorreoElectronico">Correo electrónico</label>
                        <input formControlName="CorreoElectronico" type="text" maxlength="100" class="form-control" (focusout)="onFocusOutEvent($event,'CorreoElectronico')" >
                        
                    </div> 
                </div>
                <div class="col-sm-6">

                </div>
            </div> 
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <p-confirmDialog></p-confirmDialog>
            <button *ngIf="modalActivo" type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: #008F49; border-color: #008F49;">Registrar</button>
        </div>
    </form>
</div>