<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit) = "onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Tipo de Explotación
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="CodigoTipoExplotacion">Código</label>
                        <input formControlName="CodigoCondicionJuridica" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'CodigoTipoExplotacion')" required>
                        <div *ngIf="CodigoTipoExplotacion.invalid && (CodigoTipoExplotacion.dirty || CodigoTipoExplotacion.touched)" class="text-danger">
                            <div *ngIf="CodigoTipoExplotacion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="TipoExplotacion">Nombre</label>
                        <input formControlName="TipoExplotacion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'TipoExplotacion')" required>
                        <div *ngIf="TipoExplotacion.invalid && (TipoExplotacion.dirty || TipoExplotacion.touched)" class="text-danger">
                            <div *ngIf="TipoExplotacion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="DescripcionTipoExplotacion">Descripción</label>
                        <input formControlName="DescripcionTipoExplotacion" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'DescripcionTipoExplotacion')" required>
                        <div *ngIf="DescripcionTipoExplotacion.invalid && (DescripcionTipoExplotacion.dirty || DescripcionTipoExplotacion.touched)" class="text-danger">
                            <div *ngIf="DescripcionTipoExplotacion.errors?.['required']">
                                El campo es obligatorio
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <p-confirmDialog></p-confirmDialog>
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: #008F49; border-color: #008F49;">Registrar</button>
        </div>
    </form>
</div>