<div style="padding-bottom: 5rem; width: 100%;">
    <div class="row">
        <div class="col-sm-12 mb-4" style="font-weight: bold; text-align:left; margin-top: 4px; font-size: large;">
            <span>Notificaciones</span>
        </div>
    </div>
    <div class="row mb-3">        
        <div class="col-sm-12">
            <div class="input-group">            
                <input class="form-control m-input" maxlength="50" type="text" [(ngModel)]="txt_busqueda" [ngModelOptions]="{standalone: true}"/>
                <button class="btn btn-primary" style="background-color: #008F49; border-color:#008F49;" type="button" (click)="getData()"><i class="bi bi-search"></i></button>                                            
            </div>
        </div>  
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <button *ngIf="usuario.isAdministrador" class="btn btn-primary" style="min-width: 100px;background-color: #008F49; border-color: #008F49;" type="button" (click)="agregarRegistro(viewUserTemplate,0)">Nuevo</button>
            <button *ngIf="usuario.isEspecialista" class="btn btn-primary" style="min-width: 100px;background-color: #008F49; border-color: #008F49;" type="button" (click)="exportar()">Exportar</button>
        </div>        
        <div class="col-sm-2 text-end">
            <!--Filtro<select>
                <option value="0">Todos</option>
                <option value="1">Perfil</option>
                <option value="2">Estado</option>          
            </select>-->
        </div>
    </div>
    <div class="row mb-3" >    
        <!--<p-confirmDialog></p-confirmDialog>-->
        <p-table [value]="lista_resultados" [paginator]="true" [rows]="8">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 20%; flex: none; padding: 5px;" pResizableColumn>Asunto</th>
                    <th style="width: 15%; flex: none; padding: 5px;" pResizableColumn>Frecuencia</th>
                    <th style="width: 25%; flex: none; padding: 5px;" pResizableColumn>Usuarios notificados</th>  
                    <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>Fecha de registro</th> 
                    <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>Fecha de notificación</th>          
                    <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>Estado</th>
                    <th style="width: 10%; flex: none; padding: 5px;" pResizableColumn>Acción</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td style="width: 20%; flex: none; padding: 5px;">{{ item.Asunto }}</td>
                    <td style="width: 15%; flex: none; padding: 5px;">{{ item.Frecuencia }}</td>
                    <td style="width: 25%; flex: none; padding: 5px;">{{ item.UsuariosNotificados }}</td> 
                    <td style="width: 10%; flex: none; padding: 5px;">{{ convertDateToString(item.FechaRegistro) }}</td> 
                    <td style="width: 10%; flex: none; padding: 5px;">{{ convertDateToString(item.FechaNotificacion) }}</td> 
                    <td style="width: 10%; flex: none; padding: 5px;">{{ item.EstadoNotificacion==1?'Registrado':(item.EstadoNotificacion==2?'Enviado':(item.EstadoNotificacion==3?'Cancelado':'')) }}</td> 
                    <td style="width: 10%; flex: none; padding: 5px;">
                        <div class="dropdown" dropdown>
                            <button type="button" class="btn" dropdownToggle id="page-header-user-dropdown">
                                <span class="d-none d-xl-inline-block ms-1">SELECCIONE </span>
                                <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                            </button>
                            <div class="dropdown-menu" *dropdownMenu>                                
                                <div *ngIf="usuario.isAdministrador && item.EstadoNotificacion==1">
                                    <button  class="btn btn-primary"
                                    style="background-color: #008F49; border-color: #008F49; margin-left: 10px; margin-bottom: 5px;" type="button"
                                    (click)="agregarRegistro(viewUserTemplate,item.Id)"><i class="bi bi-pencil-square"></i>
                                    </button><span class="d-none d-xl-inline-block ms-1" style="font-size: medium;">Editar</span>
                                </div>
                                <div  *ngIf="usuario.isAdministrador && item.EstadoNotificacion==1">
                                    <button class="btn btn-primary"
                                    style="background-color: #008F49; border-color: #008F49; margin-left: 10px; margin-bottom: 5px;"
                                    type="button" (click)="eliminarRegistro(item.Id)"><i class="bi bi-trash3"></i>
                                    </button><span class="d-none d-xl-inline-block ms-1" style="font-size: medium;">Eliminar</span>
                                </div>
                                <div  *ngIf="usuario.isAdministrador && item.EstadoNotificacion==1">
                                    <button class="btn btn-primary"
                                    style="background-color: #008F49; border-color: #008F49; margin-left: 10px; margin-bottom: 5px;"
                                    type="button" (click)="notificarRegistro(item.Id)"><i class="bi bi-send-fill"></i>
                                    </button><span class="d-none d-xl-inline-block ms-1" style="font-size: medium;">Notificar</span>
                                </div>
                                <div  *ngIf="usuario.isAdministrador || usuario.isEspecialista">
                                    <button class="btn btn-primary"
                                    style="background-color: #008F49; border-color: #008F49; margin-left: 10px; margin-bottom: 5px;"
                                    type="button" (click)="verRegistro(viewUserTemplate,item.Id)"><i class="bi bi-eye"></i>
                                    </button><span class="d-none d-xl-inline-block ms-1" style="font-size: medium;">Visualizar</span>
                                </div>         
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table> 
    </div>
    <p-confirmDialog></p-confirmDialog>
    <ng-template #viewUserTemplate >
        <modal-registro-notificaciones [exitModal]="exitModal" [idRegistro]="idRegistro" [modalActivo]="modalActivo"></modal-registro-notificaciones> 
    </ng-template>
</div>