/* You can add global styles to this file, and also import other style files */
.botonCancelar{
background-color: green;
border-color: green;
color: white;
margin-right: 5px;
}
.botonAceptar{
background-color: white;
border-color: white;
color: black;
margin-left: 5px;
}
.p-dialog .p-dialog-header { 
    background-color: green !important; 
    color: white !important; 
    height: 50px !important;
    justify-content: center !important;
}
.p-dialog-header-icons{
    visibility: hidden !important;
    width: 0 !important;
}
.p-dialog-content{
    padding-top: 20px !important;
}