<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit)="onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Datos Personales</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Tipo de documento</label>
                        <select formControlName="campo" id="DocumentType" name="DocumentType"
                            class="form-select">
                            <option value="-1">
                                -- Seleccione --
                            </option>
                            <!--<option *ngFor="let tipoDocumento of service.data.tipoDocumentos"
                                [value]="tipoDocumento.ide_parametrodet">
                                {{ tipoDocumento.txt_nombre }}
                            </option>-->
                        </select>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">RUC</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Nombres</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Apellido paterno</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Apellido materno</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Perfil</label>
                        <select formControlName="campo" id="DocumentType" name="DocumentType"
                            class="form-select">                                          
                        </select>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Contacto</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Organización</label>
                        <select formControlName="campo" id="DocumentType" name="DocumentType"
                            class="form-select">                                          
                        </select>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Oficina o área</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Cargo</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Celular</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Correo electrónico</label>
                        <input formControlName="campo" type="text" class="form-control"
                            required>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Marco de Lista asignado</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="campo">Seleccione departamento</label>
                        <select formControlName="campo" id="DocumentType" name="DocumentType"
                            class="form-select">                                          
                        </select>
                        <div *ngIf="campo.invalid && (campo.dirty || campo.touched)" class="text-danger">
                            <div *ngIf="campo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" (click)="consultarElementos(viewUserTemplate)">Consultar</button>
                </div>
            </div>
            <div class="row">
                <lista-marco-lista-asignado></lista-marco-lista-asignado>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: green; border-color: green;">Registrar</button>
        </div>
    </form>
    <ng-template #viewUserTemplate >
        <modal-consulta-elementos [exitSubModal]="exitSubModal"></modal-consulta-elementos> 
    </ng-template>
</div>