<div id="modalRegOrganizaciones" href="#" tabindex="-1" role="dialog" aria-hidden="true">
    <form [formGroup]="modalForm" (ngSubmit)="onClickSubmit(modalForm.value)">
        <div class="modal-header"
            style="background-color: green; color: white; text-align: center; align-items: center;">
            <span style="font-size: large; font-weight: bold;">
                Registro de Organización
            </span>
            <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Datos Personales</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdTipoDocumento">Tipo de documento</label>
                        <select formControlName="IdTipoDocumento" id="IdTipoDocumento" name="IdTipoDocumento"
                            class="form-select">
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListTipoDocumento"
                                [value]="item.value">
                                {{ item.label }}
                            </option>   
                        </select>
                        <div *ngIf="IdTipoDocumento.invalid && (IdTipoDocumento.dirty || IdTipoDocumento.touched)" class="text-danger">
                            <div *ngIf="IdTipoDocumento.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="NumeroDocumento">Número de documento</label>
                        <input formControlName="NumeroDocumento" onkeypress="return '0123456789'.includes(event.key)" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'NumeroDocumento')" required>
                        <div *ngIf="NumeroDocumento.invalid && (NumeroDocumento.dirty || NumeroDocumento.touched)" class="text-danger">
                            <div *ngIf="NumeroDocumento.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="Nombre">Nombres</label>
                        <input formControlName="Nombre" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'Nombre')" required>
                        <div *ngIf="Nombre.invalid && (Nombre.dirty || Nombre.touched)" class="text-danger">
                            <div *ngIf="Nombre.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ApellidoPaterno">Apellido paterno</label>
                        <input formControlName="ApellidoPaterno" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'ApellidoPaterno')" required>
                        <div *ngIf="ApellidoPaterno.invalid && (ApellidoPaterno.dirty || ApellidoPaterno.touched)" class="text-danger">
                            <div *ngIf="ApellidoPaterno.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ApellidoMaterno">Apellido materno</label>
                        <input formControlName="ApellidoMaterno" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'ApellidoMaterno')" required>
                        <div *ngIf="ApellidoMaterno.invalid && (ApellidoMaterno.dirty || ApellidoMaterno.touched)" class="text-danger">
                            <div *ngIf="ApellidoMaterno.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdPerfil">Perfil</label>
                        <select formControlName="IdPerfil" id="IdPerfil" name="IdPerfil" (change)="selPerfil($event)"
                            class="form-select"> 
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListPerfil"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                            
                        </select>
                        <div *ngIf="IdPerfil.invalid && (IdPerfil.dirty || IdPerfil.touched)" class="text-danger">
                            <div *ngIf="IdPerfil.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="contacto || contactoMarco" class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Contacto</h3>
                </div>
            </div>
            <div class="row">
                <div *ngIf="contacto" class="col-sm-6">
                    <div class="form-group">
                        <label for="IdOrganizacion">Organización</label>
                        <select formControlName="IdOrganizacion" id="IdOrganizacion" name="IdOrganizacion"
                            class="form-select"> 
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListOrganizacion"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                            
                        </select>
                        <div *ngIf="IdOrganizacion.invalid && (IdOrganizacion.dirty || IdOrganizacion.touched)" class="text-danger">
                            <div *ngIf="IdOrganizacion.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="contacto" class="col-sm-6">
                    <div class="form-group">
                        <label for="OficinaArea">Oficina o área</label>
                        <input formControlName="OficinaArea" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'OficinaArea')" required>
                        <div *ngIf="OficinaArea.invalid && (OficinaArea.dirty || OficinaArea.touched)" class="text-danger">
                            <div *ngIf="OficinaArea.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div  class="row">
                <div *ngIf="contacto" class="col-sm-6">
                    <div class="form-group">
                        <label for="Cargo">Cargo</label>
                        <input formControlName="Cargo" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'Cargo')" required>
                        <div *ngIf="Cargo.invalid && (Cargo.dirty || Cargo.touched)" class="text-danger">
                            <div *ngIf="Cargo.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="contacto || contactoMarco" class="col-sm-6">
                    <div class="form-group">
                        <label for="Celular">Celular</label>
                        <input formControlName="Celular" onkeypress="return '0123456789'.includes(event.key)" maxlength="10" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'Celular')" required>
                        <div *ngIf="Celular.invalid && (Celular.dirty || Celular.touched)" class="text-danger">
                            <div *ngIf="Celular.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="contacto || contactoMarco" class="col-sm-6">
                    <div class="form-group">
                        <label for="CorreoElectronico">Correo electrónico</label>
                        <input formControlName="CorreoElectronico" type="text" class="form-control" (focusout)="onFocusOutEvent($event,'CorreoElectronico')" required>
                        <div *ngIf="CorreoElectronico.invalid && (CorreoElectronico.dirty || CorreoElectronico.touched)" class="text-danger">
                            <div *ngIf="CorreoElectronico.errors?.['required']">
                                El campo es requerido.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">                    
                </div>
            </div>
            <div *ngIf="contactoMarco" class="row">
                <div class="col-sm-12" style="color:green">
                    <h3>Marco de Lista asignado</h3>
                </div>
            </div>
            <div *ngIf="contactoMarco" class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="IdDepartamento">Seleccione departamento</label>
                        <select formControlName="IdDepartamento" id="IdDepartamento" name="IdDepartamento"
                            class="form-select">   
                            <option value="" disabled selected>-- Seleccionar --</option> 
                            <option *ngFor="let item of objRegistro.ListDepartamento"
                                [value]="item.value">
                                {{ item.label }}
                            </option>                                         
                        </select>                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-primary" (click)="consultarElementos(viewUserTemplate)">Consultar</button>
                </div>
            </div>
            <div *ngIf="contactoMarco" class="row">
                <lista-marco-lista-asignado></lista-marco-lista-asignado>
            </div>
        </div>
        <div class="modal-footer text-end" style="display: block;">
            <button type="submit" class="btn btn-primary" [disabled]="!modalForm.valid"
                style="background-color: green; border-color: green;">Registrar</button>
        </div>
    </form>
    <p-confirmDialog></p-confirmDialog>
    <ng-template #viewUserTemplate >
        <modal-consulta-elementos [exitSubModal]="exitSubModal"></modal-consulta-elementos> 
    </ng-template>
</div>