<header id="page-topbar">
	<div class="navbar-header">
		<div class="d-flex">
			<!-- LOGO -->
			<div class="navbar-brand-box">
				<a routerLink="/" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="assets/images/midagri_login.jpg" alt="" height="35">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo_midagri.svg" alt="" height="40">
                    </span>
                </a>

                <a routerLink="/" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="assets/images/midagri_login.jpg" alt="" height="35">
                    </span>
                    <span class="logo-lg">
                        <img src="assets/images/logo_midagri.svg" alt="" height="40">
                    </span>
                </a>
			</div>

			<button type="button" class="btn btn-sm px-3 font-size-16 header-item" [ngClass]="{ 'd-none': theme === 'horizontal' }" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
				<i class="fa fa-fw fa-bars"></i> SISTEMA DEL MARCO DE LISTA DE LA ENCUESTA NACIONAL AGROPECUARIA - SISLISTA - MIDAGRI - V 1.0.0
			</button>


		</div>

		<div class="d-flex">
			<div class="dropdown d-none d-lg-inline-block ms-1">
				<button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen" (click)="fullscreen()">
					<i class="bx bx-fullscreen"></i>
				</button>
			</div>

			<div class="dropdown d-inline-block" dropdown>
				<button type="button" class="btn header-item" dropdownToggle id="page-header-user-dropdown">					
					<span class="d-none d-xl-inline-block ms-1">Usuario</span>
					<i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
				</button>
				<div class="dropdown-menu dropdown-menu-end" *dropdownMenu>
					<!-- item-->
					
					<a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()"><i class="bx bx-power-off font-size-16 align-middle me-1 text-danger"></i>
						Cerrar sesión</a>
				</div>
			</div>
			<p-confirmDialog></p-confirmDialog>
		</div>
	</div>
</header>