<div class="row">
    <div class="col-sm-10">
        <span>¡Aqui deberia ir el mapa!</span>
    </div>
    <div class="col-sm-2">
        <div class="row">
            <div class="col-sm-9">
                <span>Registro de Marco de Lista</span>
            </div>
            <div class="col-sm-3">
                <button class="btn btn-primary"
                style="background-color: #008F49; border-color: #008F49; margin-bottom: 5px;"
                type="button" (click)="mostrarCuestionario(viewUserTemplate)"><i class="bi bi-pencil-square"></i></button>
            </div>
        </div>   
    </div>
</div>
<ng-template #viewUserTemplate >
    <plantilla-uno [exitModal]="exitModal" [numDoc]="numDoc" [idPeriodo]="idPeriodo" [modalActivo]="modalActivo"></plantilla-uno> 
</ng-template>