.iframe-container {
  height: 100vh; /* Altura del 100% de la vista del navegador */
  width: auto;  /* Ancho del 100% de la vista del navegador */
  margin: 0;     /* Elimina márgenes */
  padding: 0;    /* Elimina rellenos */
  overflow: hidden; /* Oculta cualquier desbordamiento */
}
iframe {
    border: 0;
    width: 100%;
    height: 100%;
}